.App {
  text-align: center;
  font-size: 16px;
}

.blue-color {
  color: #1a73e8;
}
.blue-button {
  color: #1a73e8;
  background-color: rgba(26, 115, 232, .03);
}
.blue-button:hover, .blue-button-active {
  background-color: rgba(26, 115, 232, .1);
  color: rgba(6, 75, 192, 1);
}
.blue-button-active:active {
  background-color: rgba(26, 115, 232, .2);
  color: rgba(6, 75, 192, 1);
}
.blue-button:active {
  background-color: rgba(26, 115, 232, .03);
}

/*animations*/
.dot-flashing {
  float: right;
  margin-right: 20px;

  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #1a73e8;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #1a73e8;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #1a73e8;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #1a73e8;
  }
  50%,
  100% {
    background-color: rgba(26, 115, 232, .2);
  }
}
