.wrp {
  width: 100%;
  height: 50px;
  border-top: 1px solid #ddd;

  display: grid;
  grid-template-columns: 56px minmax(70px, 1fr) 100px 100px 100px 50px;
  grid-template-rows: 1fr;
  align-items: center;
  grid-template-areas: 
  'tnm ech prc chn chp dlb'
}

.wrp:hover {
  background-color: rgba(0, 0, 0, .05);
}

.wrp > div > div {
  display: inline-block;
  float: right;
  overflow: hover;
}

.wrp > div > .exchange, .wrp > div > .ticker-name {
  float: left;
}

.delete-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  cursor: pointer;
}

.wrp:hover .delete-button {
  opacity: 1;
}

.delete-button:hover {
  background-color: rgba(0, 0, 0, .05);
}

.delete-button > svg {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #999; 
}

.delete-button:active {
  background-color: rgba(0, 0, 0, .2);
}

.delete-button:active > svg {
  color: #555; 
}

@media (max-width: 600px) {
  .wrp {
    height: 60px;
    grid-template-columns: minmax(70px, 1fr) 0px 100px 100px 50px;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    'tnm prc chn chp dlb'
    'ech prc chn chp dlb'
  }
  .price {
    opacity: 0 !important;
  }
  .delete-button {
    opacity: 1;
  }
  .ticker-name {
    align-self: end;
  }
  .exchange {
    margin-top: 4px;
    align-self: start;
    font-size: 12px;
    color: #555;
  }
}

.ticker-name    { grid-area: tnm; }
.exchange       { grid-area: ech; }
.price          { grid-area: prc; }
.change         { grid-area: chn; }
.change-percent { grid-area: chp; }
.delete-button  { grid-area: dlb; }



